@mixin textOverflow($width) {
  @if ($width) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: $width;
  } @else {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
}
